<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>Forward/Reverse Map</h1>
        <% img_name = "arrow_desc.png"
        if params[:so] && params[:so] == 'ASC'
          img_name = "arrow_asc.png"
        end
      %>
        <div style="float:right;margin-right:20px"><%= link_to_remote "<strong>Upload New</strong>",:url => upload_admin_maps_path, :method => :get %></div>
        <table cellspacing="0" border="0" class="data-table box-table shopping-cart" id="shopping-cart-table">
          <col width="20%"/>
          <col width="15%"/>
          <col width="30%"/>
          <col width="25%"/>
          <col width="10%"/>
          <thead>
            <tr class="first last">
              <th ><%= link_to('User', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'user', :so => (params[:so] && params[:so] == 'ASC') ? 'DESC' : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'user' %></th>
              <th><%= link_to('Map', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'map', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'map') ? 'DESC' : 'ASC') : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'map' %></th>
              <th><%= link_to('Filename', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'filename', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'filename') ? 'DESC' : 'ASC')  : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'filename' %></th>

              <th ><%= link_to('Date', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'date', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'date') ? 'DESC' : 'ASC')  : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'date' %></th>
              <th class="last">Action</th>
            </tr>
          </thead>
          <tbody>
            <% if @map_files && !@map_files.empty? %>
              <% if @listfilewise %>
                <% @map_files.each do |file|%>
                  <tr class="<%= cycle("first last", "first last odd", :name => "row_class") -%>">
                    <td><%= file.user.name %></td>
                    <td><%= file.map_type %></td>
                    <td><%= link_to file.trope_file_name, export_admin_maps_path(:id=>file.id), :method => :put%></td>

                    <td ><%= pacific_time_instance_timestamp(file.trope_updated_at)%></td>
                    <td class="last"><%= link_to("<strong>Delete</strong>",admin_map_path(:id => file.id),:method => :delete)%></td>
                  </tr>
                <% end %>
              <% else %>
                <% @map_files.each do |user|%>
                  <% user.map_files.each do |file|%>
                    <tr class="<%= cycle("first last", "first last odd", :name => "row_class") -%>">
                      <td><%= file.user.name %></td>
                      <td><%= file.map_type %></td>
                      <td><%= link_to file.trope_file_name, export_admin_maps_path(:id=>file.id), :method => :put%></td>

                      <td ><%= pacific_time_instance_timestamp(file.trope_updated_at)%></td>
                      <td class="last"><%= link_to("<strong>Delete</strong>",admin_map_path(:id => file.id),:method => :delete,:confirm => "Are you sure?")%></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br />
        <%= will_paginate @map_files%>
      </div>
    </div>
  </div>
</div>

<div class="popup1_hostory" id="pop_up_box_upload_file_id" style="display:none">
  <div class="popup_block_history"><img src="/images/icon_close.png"  class="cntrl" border="none" onclick="hidepopuplight('pop_up_box_upload_file_id');"  style="cursor:pointer" title="Close"/>
    <div style="overflow:hidden;" class="">
      <div id="upload_file_id"> </div>
    </div>
  </div>
</div>