<%=javascript_include_tag :defaults%>
<%= stylesheet_link_tag 'main' %>
<% if @success %>
<script language="javascript">window.parent.location.reload();</script>
<% end %>
<div id="container" style="height:100%">
<div id="content" class="clearfix">
<!--      <div id="mainContent" class="clearfix">-->
      <div id="RHS_col_admin">
            <h2>Upload Forward/Reverse map</h2>
            <div class="left_padd">
             <%= single_error_msg_div({:msg => flash[:error],:style => "width:250px;"}) %>
            <%= single_success_msg_div({:msg => flash[:success],:style => "width:250px;"}) %>
             <% form_for :file, @file, :url => upload_form_admin_maps_path, :html => { :multipart => true ,:target => "csvUploadframe"} do |form| %>
             
             
            
             
              <div id="form_div">
                <ul>
                  <li>User: &nbsp; 
                     <%= form.select(:user_id, User.find(:all, :conditions => ["role_id != 1"], :order => "first_name ASC").collect {|u| (u.name.strip.blank?) ? [ u.email, u.id ] : [ "#{u.name.titleize} - <#{u.email}>", u.id ] }, { :include_blank => false , :prompt => "Select User"},:class => "user_select_box")%>
                  </li>
                 </ul>
                   <!--<span id="user_login_id">
                   , :onchange => "new Ajax.Updater('user_login_id', '/admin/maps/show_user_login_id?id='+ this.value, {asynchronous:true, evalScripts:true});return false;"
                   < % if params[:file] && params[:file][:user_id] && !params[:file][:user_id].blank?%>
                   <script>new Ajax.Updater('user_login_id', '/admin/maps/show_user_login_id?id='+ < %= params[:file][:user_id]%>, {asynchronous:true, evalScripts:true});</script>
                   < % end %>
                   </span>-->
                   
                   <ul>
                      <li>User's Password: &nbsp; <br />
                      <%= password_field_tag :user_secret,'',:class => "inputbox",:style=> "width:268px"%>
                      </li>
                   </ul>
                
                <ul>
                  <li>Map: <br />
                  
                  <%= form.radio_button :map_type, 'forward', :checked => (params[:map_type] ? (params[:map_type] == 'forward') : true)%>&nbsp;Forward&nbsp; 
                  <%= form.radio_button :map_type, 'reverse' ,:checked => (params[:map_type] == 'reverse')%>&nbsp;Reverse
                  </li>
                 </ul>
                <ul>
                  <li>File: <br />
                    <span class="wrap1">
                    <%= form.file_field :trope,:class => "inputbox",:size => "35", :style=> "width:200px"%>
                    </span>
                  </li>
                </ul>
                <ul>
                  <li class="top_space1"><%= image_submit_tag('upload_btn.png') %></li>
                </ul>
              </div>
             <% end %>
              <% flash.clear%>
              <br />
            </div>
            <!-- end #mainContent -->
          </div>
  <!--  </div>-->
  </div>
</div>
