<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>Upload Reverse Map </h1>

        <div class="left_padd">
          <%= single_error_msg_div({:msg => flash[:error]}) %>
          <%= single_success_msg_div({:msg => flash[:success]}) %>
          <% form_tag '',  :multipart => true do  %>
            <div id="form_div">
              <ul>
                <li>User: <br /><span class="wrap1">
                    <%= select(:user, :id, User.find(:all, :conditions => ["role_id != 1"], :order => "first_name ASC").collect {|u| (u.name.strip.blank?) ? [ u.email, u.id ] : [ "#{u.name.titleize} - <#{u.email}>", u.id ] },
                      { :include_blank => false, :prompt => "Select User" },
                      {:class => "user_select_box",
                        :onchange => "new Ajax.Updater('user_rm_companies_selector','/admin/maps/user_rm_companies',{parameters: { id: this.value }});"})%>
                  </span>	 </li>
              </ul>

              <ul>
                <li>User's Password: &nbsp; <br /><span class="wrap1">
                    <%= password_field_tag :user_secret,'',:class => "inputbox",:style=> "width:260px"%>
                  </span>
                </li>
              </ul>

              <ul>
                <li>Company:<br /><span class="wrap1" id="user_rm_companies_selector">
                    <%= select(:company, :id, @rm_companies ? @rm_companies.collect {|c| [ c.name, c.id ]} : [],
                      { :include_blank => false, :prompt => "Select Company" },
                      {:class => "user_select_box"}) %>
                  </span>	 </li>
              </ul>
              <ul>
                <li>File:<br /><span class="wrap1">
                    <%= file_field_tag 'file',:class => "inputbox",:size => "25"%>
                  </span>	 </li>
              </ul>
              <ul>
                <li style="width:18px; margin-top:3px">
                  <%= check_box_tag 'is_completed' %>
                </li>
                <li> Completed</li>
              </ul>

              <ul>
                <li class="top_space1"><%= image_submit_tag('submit_btn.png') %></li>
              </ul>
            </div>
          <% end %>
          <% flash.clear%>
          <br />


        </div>

      </div>
    </div>
  </div>
</div>

<div class="popup1_hostory" id="pop_up_box_upload_file_id" style="display:none">
  <div class="popup_block_history"><img src="/images/icon_close.png"  class="cntrl" border="none" onclick="hidepopuplight('pop_up_box_upload_file_id');"  style="cursor:pointer" title="Close"/>
    <div style="overflow:hidden;" class="">
      <div id="upload_file_id"> </div>
    </div>
  </div>
</div>