<li id="<%= "person_#{person.id}_#{news_id}"-%>">
	<%= person.full_name-%><%= ", #{person.current_designation_title}" unless person.current_designation_title.blank?-%><%= ", #{person.current_company_name}" unless person.current_company_name.blank?-%> | <%= link_to 'remove', { :action => 'remove_person' ,:person_id => person.id,:news_id=>news_id } , { :style=>"color:red;", :method=>:delete , :remote => true } %>
</li>