<li id="<%= "person_#{person.id}_#{news_id}"-%>">
	<%= person.full_name-%><%= ", #{person.current_designation_title}" unless person.current_designation_title.blank?-%><%= ", #{person.current_company_name}" unless person.current_company_name.blank?-%> | <%= link_to_remote 'remove', { :url=>remove_person_admin_news_path(:id=>person.id,:news_id=>news_id) } , { :style=>"color:red;", :method=>:delete } %>
</li>