<tr class="<%= cycle("first last", "first last odd", :name => "row_class") -%>">
  <% user = payment_notification.user %>
  <td><%= user.name unless user.nil? -%></td>
  <td><%= user.email unless user.nil? -%></td>
  <td><%= payment_notification.txn_type -%></td>
  <td><%= payment_notification.transaction_id %></td>
  <td><%= payment_notification.status %></td>
  <td><%= payment_notification.created_at %></td>
  <td><%= payment_notification.params %></td>
</tr>