<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin_general" style="padding-left:10px">
        <p>
          <b>Name:</b>
          <%= @news_source.name %>
        </p>
        <p>
          <b>Feeds:</b><br/>
          <%= @news_source.news_feeds.collect{|f| f.url}.join '<br/>' %>
        </p>

        <%= link_to 'Edit', edit_admin_news_source_path(@news_source) %> |
        <%= link_to 'Back', admin_news_sources_path %>
      </div>
    </div>
  </div>
</div>