<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>LinkedIn Upload</h1>
        <div class="left_padd">
          <%= single_error_msg_div({:msg => flash[:error],:style => "width:300px;"}) %>
          <%= single_success_msg_div({:msg => flash[:success],:style => "width:300px;"}) %>
          <% form_for :file, @file, :url => linkedin_upload_admin_home_path, :html => { :multipart => true} do |form| %>
            <div id="form_div">
              <ul>
                <li>User: &nbsp; <br /><span class="wrap1">
                    <%= form.select(:user_id, User.find(:all, :conditions => ["role_id != 1"], :order => "first_name ASC").collect {|u| (u.name.strip.blank?) ? [ u.email, u.id ] : [ "#{u.name.titleize} - <#{u.email}>", u.id ] }, { :include_blank => false, :prompt => "Select User" },:class => "user_select_box")%>
                  </span>
                </li>
              </ul>
              <ul>
                <li>User's Password: &nbsp; <br /><span class="wrap1">
                    <%= password_field_tag :user_secret,'',:class => "inputbox",:style=> "width:260px"%>
                  </span>
                </li>
              </ul>
              <ul>
                <li>File: <br />
                  <span class="wrap1">
                    <%= form.file_field :trope,:class => "inputbox",:size => "25"%>
                  </span>
                </li>
              </ul>
              <br/>
              <ul>
                <li>
                  <%= check_box_tag "is_full_upload","1", (params[:is_full_upload] && params[:is_full_upload] == "1") ? true : false%>
                  &nbsp;Upload all data
                </li>
              </ul>
              <br/>
              <ul>
                <li class="top_space1"><%= image_submit_tag('upload_btn.png') %></li>
              </ul>
            </div>
          <% end %>
          <!-- % end % -->
          <% flash.clear%>
          <br />
        </div>
        <!-- end #mainContent -->
      </div>
    </div>
  </div>
</div>