<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>Jigsaw Enrichment</h1>
        <%= single_error_msg_div({:msg => flash[:error]}) %>
        <div class="left_padd">
          <ul>
            <li>
              Last data enrichment processed on <%= @task.last_completed.strftime("%b %d, %Y") %> at <%= @task.last_completed.strftime("%H:%M:%S") %>
            </li>
          </ul>
          <br/>
          <ul>
            <li>
              Sync with jigsaw every&nbsp;<%= select('task','hours', @hours, {:class => "selectbox"}, { :onchange => "location.href='?hr=' + getJigsawScheduleHr()" } ) %> hours.
              <br />
								*Note: Schedule changes take effect only after system re-initialization
            </li>
          </ul>
          <ul>
            <li>
              &nbsp;
            </li>
          </ul>
          <ul>
            <li>
              <%= link_to('Do it now', do_jigsaw_now_admin_home_path() ) %>
            </li>
          </ul>
        </div>
        <br /><br />
        <h1>Dedupe-Merge</h1>
        <%= single_error_msg_div({:msg => flash[:error_dm]}) %>
        <div class="left_padd">
          <ul>
            <li>
              <!-- Last data enrichment processed on < %= @task.last_completed.strftime("%b %d, %Y") %> at < %= @task.last_completed.strftime("%H:%M:%S") %> -->
            </li>
          </ul>
          <br/>
          <ul>
            <li>
              Do Dedupe-Merge Daily at &nbsp;<%= select('dedupe_merge_task','run_at_hrs', @hrs, {:class => "selectbox"} ) %> : <%= select('dedupe_merge_task','run_at_mins', @mins, {:class => "selectbox"} ) %> <a hre="#" style="cursor:pointer;" onclick="location.href='?hrs=' + getDedupeMergeScheduleHrs() + '&mns=' + getDedupeMergeScheduleMins()"><b>Set</b></a>
              <!-- , { :onchange => "location.href='?hr=' + getJigsawScheduleHr()" } ) -->
              <br />
								*Note: Schedule changes take effect only after system re-initialization
            </li>
          </ul>
          <ul>
            <li>
              &nbsp;
            </li>
          </ul>
          <ul>
            <li>
              <%= link_to('Do it now', do_dedupe_merge_now_admin_home_path() ) %>
            </li>
          </ul>
        </div>				


      </div>
    </div>
  </div>
</div>
