<div id="user_<%=user.id%>" class="admin_news_alert_box">
  <div class="ui-widget-header">
    <div class="admin_news_alert_header_text" id="header_<%=user.id%>">Enter the User email for testing...</div>
  </div>
  <div id="dialog-form">
    <% form_tag({:action => "send_email_alert"},:multipart => true)  do %>
      <%= hidden_field_tag :email_addr,user.email,:id=>"email_addr#{user.id}" %>
      <table cellspacing="6px">
        <tbody>
          <tr>
            <td class="admin_news_alert_label">
              <p> Email:</p>
            </td>
            <td class="admin_news_alert_email_input_field">
              <%= text_field_tag "send_to", "", {:class=>"text ui-widget-content ui-corner-all",:id=>"email_#{user.id}"}%>
            </td>
          </tr>
          <tr>
            <td>
              <%=check_box_tag('for_test',true ,true,{:class=>"news_alert_checkbox",:style=>"width: 70px"})%>
            </td>
            <td>
              <p style="text-align: left">Uncheck to send an email alert to <br/><%=user.name%>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="admin_news_alert_checkbox">
                <%= select_tag "days_ago", options_for_select([['1',1],['7',7],['15',15],['30',30]],@number_of_days )-%>
              </div>

            </td>
            <td>
              <p style="text-align: left">Number of days</p>
            </td>
          </tr>
          <tr class="ui-dialog-buttonset">
            <td colspan="2">
              <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="this.form.submit();">
                <span class="ui-button-text">Send Email</span>
              </button>
              <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text button bClose">Cancel</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    <%end%>
  </div>
</div>