
  <div id="container" style="height:100%">
  <div id="content" class="clearfix">
    <div id="RHS_col_admin" style="width:390px;">
      <h2>Reset <%= @user.first_name %>'s password</h2>
      <div class="left_padd">

       <%= single_success_msg_div({:msg => flash[:success]})  %>
      <%= single_error_msg_div({:msg => flash[:error]})%>
        <% form_remote_tag :url => update_password_admin_users_path(:id => params[:id]) do %>
          Password:<br/>
          <span class="wrap">
          <%= password_field_tag :password, '',:class=>"small input-text"%>
          </span><br/>
          Confirm Password:<br/>
          <span class="wrap">
          <%= password_field_tag :password_confirmation,'',:class=>"small input-text" %>
          </span><br/><br/>
          <div class="reset">
            <%= submit_tag "Reset Your Password" %>
          </div>
        <% end %>
          <% flash.clear %>
      </div>
    </div>
  </div>
 </div>
     
