<%=javascript_include_tag :defaults%>
<%= stylesheet_link_tag 'main' %>
<% if @success %>
  <script language="javascript">window.parent.location.reload();</script>
<% end %>
<div id="container" style="height:100%">
  <div id="content" class="clearfix">
    <!--      <div id="mainContent" class="clearfix">-->
    <div id="RHS_col_admin" style="width:700px;">
      <h2>Add User</h2>
      <div class="left_padd">
        <%= single_error_msg_div({:msg => flash[:error],:style => "width:250px;"}) %>
        <%= single_success_msg_div({:msg => flash[:success],:style => "width:250px;"}) %>
        <div style="clear:both;float:right;">

          <%= error_messages_for :user %>
          <!-- System generated password will be sent to the user by email. -->&nbsp;
        </div>

        <div style="float:left;">
          <% form_for :user,:html => {:class=> "login-form awesome"} do |f| -%>


            <div>First Name<span class="red">*</span>:  <br />
              <span class="wrap1">
                <%= f.text_field :first_name ,:class=>"inputbox1" %>
              </span>
            </div>

            <div>Last Name<span class="red">*</span>:  <br />
              <span class="wrap1">
                <%= f.text_field :last_name ,:class=>"inputbox1" %>
              </span>
            </div>

            <div>Email address<span class="red">*</span>: <br />
              <span class="wrap1">
                <%= f.text_field :email, :class=>"inputbox1"%>
              </span>
            </div>

            <div>Password<span class="red">*</span>: <br />
              <span class="wrap1">
                <%= f.password_field :password ,:class=>"inputbox1" %>
              </span>
            </div>

            <div>Type that password again<span class="red">*</span>:   <br />
              <span class="wrap1">
                <%= f.password_field :password_confirmation ,:class=>"inputbox1" %>
              </span>
            </div>

            <div>Company<span class="red">*</span>:  <br />
              <span class="wrap1">
                <%= f.text_field :company_name ,:class=>"inputbox1" %>
              </span>
            </div>
            <div>Phone Number(optional):  <br />
              <span class="wrap1">
                <%= f.text_field :phone ,:class=>"inputbox1" %>
              </span>
            </div>
            <div>Plan:  <br />
              <span class="wrap1">
                Free<input type="radio" name="plan_id" value="1" /> &nbsp; Basic<input type="radio" name="plan_id" value="2"/> &nbsp; Premium<input type="radio" name="plan_id" checked="checked" value="3" />
              </span>
            </div>
            <div>Send Email Notification?:
              <input type="checkbox" name="notification" value="1" />
            </div>
            <div class="top_space"><%= submit_tag("Add User") %></div>
          <% end -%>
        </div>
        <% flash.clear%>
        <br />
      </div>
      <!-- end #mainContent -->
    </div>
    <!--  </div>-->
  </div>
</div>
