<%= javascript_include_tag "jquery.bpopup-0.7.0.min"%>

<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>Admin Dashboard </h1>
        <% img_name = "arrow_desc.png"
        if params[:so] && params[:so] == 'ASC'
          img_name = "arrow_asc.png"
        end
      %>
        <%= single_success_msg_div({:msg => flash[:success],:style => "margin-left:15px;"}) %>
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end %>
        <div style="float:left;margin-left:20px">
          <% form_tag(emails_read_stats_admin_users_path, :method => :post) do %>
            <strong>Generate Email Read Report:</strong> <%= select_tag "days_ago", options_for_select([['',],['1',1],['7',7],['15',15],['30',30],['all','all']],@number_of_days ), :onchange => "this.form.submit();"-%> days
          <% end %>
        </div>
        <br/>
        <br/>
        <div style="float:left;margin-left: 20px;"><%=render :partial=>"layouts/search_box",:locals=>{:width=>347}%></div><br/>
        <div style="float:left;margin-left: 20px;"><%= link_to_remote "<strong>Add User</strong>", :url => new_admin_user_path, :method => :get %></div>
        <div style="float:left;margin-left: 20px;"><strong>Total Users:</strong> <%= @total %></div>
        <div style="float:right;margin-right:20px"><%= link_to "<strong>Export</strong>", export_admin_users_path, :method => :get %></div>

        <table cellspacing="0" border="0" class="data-table box-table shopping-cart" id="shopping-cart-table">
          <col width="7%"/>
          <col width="12%"/>
          <col width="9%"/>
          <col width="7%"/>
          <col width="8%"/>
          <col width="15%"/>
          <col width="3%"/>
          <thead>
            <tr class="first last">
              <th>Subscription</th>
              <th><%= link_to('Name', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'name', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'name') ? 'DESC' : 'ASC') : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'name' %></th>
              <th><%= link_to('Company', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'company', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'company') ? 'DESC' : 'ASC')  : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'company' %></th>
              <!--<th>Title<%#= link_to('Title', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'title', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'title') ? 'DESC' : 'ASC') : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'title' %></th>-->
              <th><%= link_to('Email', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'email', :so => (params[:so] && params[:so] == 'ASC') ?  ((params[:sf] == 'email') ? 'DESC' : 'ASC') : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'email' %></th>
              <th>Password</th>
              <th ><%= link_to('Last Login', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'll', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'll') ? 'DESC' : 'ASC') : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'll' %></th>
              <th><%= link_to('FB/LI', {:flt_fld => params[:flt_fld],:flt_val => params[:flt_val],:search => params[:search],:q => params[:q], :sf => 'scr', :so => (params[:so] && params[:so] == 'ASC') ? ((params[:sf] == 'scr') ? 'DESC' : 'ASC') : 'ASC'} )%> <%= image_tag(img_name, :algin => "absmiddle") if params[:sf] == 'scr' %></th>
              <th class="last">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user |%>
              <tr class="<%= cycle("first last", "first last odd", :name => "row_class") -%>">
                <td><%=  user.subscription.name -%></td>
                <td><%= user.name.blank? ? '' : link_to(user.name, edit_admin_user_path(user),:title=>'Edit interest preferences') %></td> <!-- admin_user_path(user.id) -->
                <td><%= user.company_name %></td>
                <td><a href="mailto:<%= user.email%>"><%= user.email%></a> </td>
                <td><%= user.crypted_password %></td>
                <td>
                  <% if user.last_login_at %>
                    Login: <%= user.last_login_at.strftime("%m/%d/%Y %H:%M:%S") %>
                  <% else %>
                    &nbsp;
                  <% end %>
                  <% if user.last_logout_at %>
                    <br />
                    Logout: <%= user.last_logout_at.strftime("%m/%d/%Y %H:%M:%S") %>
                  <% else %>
                    &nbsp;
                  <% end %>
                </td>
                <% sc = user.social_credential %>
                <td>
                  <% if sc %>
                    <%= ("Facebook: <br/>" + sc.facebook_login + " / " + sc.facebook_password) unless sc.facebook_login.blank?%><br/>
                    <%= ("LinkedIn: <br/>" + sc.linkedin_login + " / " + sc.linkedin_password) unless sc.linkedin_login.blank?%>
                  <% else %>
                    &nbsp;
                  <% end %>
                </td>
                <td class="last">
                  <span style="background-color: #d2e2c0;padding-top: 10px;margin-right: 1px" onclick="show_email_popup('<%=user.id%>');" data-bpopup="{&quot;modalClose&quot;:false,&quot;opacity&quot;:0.6,&quot;positionStyle&quot;:&quot;fixed&quot;}">
                    <%= image_tag('mail_icon.png', :title => "Sent email alert to user", :style=>"cursor:pointer") %>
                  </span>
                  <%=render :partial=>"news_admin_alert",:locals=>{:user=>user}%>
                  <span style="background-color:#fcd4d8 ;padding-top: 10px;">
                    <%= link_to_remote(image_tag('admin_key.png', :title => "Reset Password"), :url => reset_password_admin_users_path(:id => user.id) )%>
                    <%= link_to image_tag('admin_reset.png', :title => "Reset Account"), reset_account_admin_users_path(:id => user.id), :confirm => "Are you sure you want to reset this account?" %>
                    <%= link_to image_tag('admin_reset_prospects.png', :title => "Reset Prospects", :alt => "Reset Prospects"), reset_prospects_admin_users_path(:id => user.id), :confirm => "Are you sure you want to reset this users Prospects?" %>
                    <%= link_to image_tag('money.gif', :title => "Reset Subscription"), reset_subscription_admin_users_path(:id => user.id), :confirm => "Are you sure you want to reset this user's subscription?" %>
                    <%= link_to image_tag('antispam.gif', :title => "Stop sending daily digest"), stop_emails_admin_users_path(:id => user.id), :confirm => "Are you sure you want to stop daily digest emails to the user?" %>
                    <% if user.is_suspended? %>
                      <%= link_to image_tag('resume.png', :title => "Unsuspend user"), resume_admin_users_path(:id =>user.id) %>
                    <% else %>
                      <%= link_to image_tag('suspend.png', :title => "Suspend user"), suspend_admin_users_path(:id => user.id) %>
                    <% end %>
                    <%= link_to image_tag('admin_delete.png', :title => "Delete account"), admin_user_path(:id => user.id),:method => :delete, :confirm => "Are you sure you want to delete this user?" %>
                    <%= link_to(image_tag('activation.png', :title => "Send activation link"), send_activation_admin_users_path(:id => user.id))unless user.has_active_account? %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
        <%= will_paginate @users%>
        <!-- end #mainContent -->
      </div>
    </div>
  </div>
</div>
<!-- popup html for create admin user -->
<div class="popup1_hostory" id="pop_up_box_admin_user_id" style="display:none;">
  <div class="popup_block_history" style="width:700px;"><img src="/images/icon_close.png"  class="cntrl" border="none" onclick="hidepopuplight('pop_up_box_admin_user_id');"  style="cursor:pointer" title="Close"/>
    <div style="overflow:hidden;" class="">
      <div id="admin_user_form_id"> </div>
    </div>
  </div>
</div>
<!-- popup html for admin user reset password -->
<div class="popup1_hostory" id="pop_up_box_reset_admin_user_password_id" style="display:none;">
  <div class="popup_block_history" style="width:390px;"><img src="/images/icon_close.png"  class="cntrl" border="none" onclick="hidepopuplight('pop_up_box_reset_admin_user_password_id');"  style="cursor:pointer" title="Close"/>
    <div style="overflow:hidden;" class="">
      <div id="reset_admin_user_password_id"> </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function show_email_popup(userId){
    $("#user_"+userId).bPopup({
      fadeSpeed: 'slow'
    });

    var uemail = $('#email_addr'+userId).val();
    $('.news_alert_checkbox').live('change',function(){
      if ($(this).is(':checked')){
        $('#email_'+userId).val('');
        $('#header_'+userId).html('Enter the User email for testing...')
      }
      else{
        $('#email_'+userId).val(uemail);
        $('#header_'+userId).html('Send email alert to '+uemail)
      }
    });
  }
</script>

