<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1> <%=  @user.name %> </h1>
        <% img_name = "arrow_desc.png"
        if params[:so] && params[:so] == 'ASC'
          img_name = "arrow_asc.png"
        end
      %>
        <%= single_success_msg_div({:msg => flash[:success],:style => "margin-left:15px;"}) %>

        <div id="top_conectors_search" style="padding-bottom:3px">
          <div id="sub_tabs">
            <div class="<%= defined?(@companies) ? 'tabs' : 'active_tab'%>" id="contact_tab" style="cursor:pointer;" onclick="location.href = '/admin/users/<%= @user.id %>?map=fm'" >
              Contacts
            </div>
            <div class="<%= defined?(@companies) ? 'active_tab' : 'tabs'%>" id="comapny_tab" style="cursor:pointer;" onclick="location.href = '/admin/users/<%= @user.id %>?map=rm'">
              Companies
            </div>
            <div style="background-color:#fff; border:none; padding:0px; float:right;">&nbsp;</div>
          </div>
        </div>

        <% if defined?(@companies) %>
          <%= render :partial => 'company_list' %>

        <% else %>
          <%= render :partial => 'contact_list'  %>
        <% end  %>
        <!-- end #mainContent -->
      </div>
    </div>
  </div>
</div>
<!-- popup html for create admin user -->
<div class="popup1_hostory" id="pop_up_box_admin_user_form_id" style="display:none;">
  <div class="popup_block_history" style="width:700px;"><img src="/images/icon_close.png"  class="cntrl" border="none" onclick="hidepopuplight('pop_up_box_admin_user_form_id');"  style="cursor:pointer" title="Close"/>
    <div style="overflow:hidden;" class="">
      <div id="admin_user_form_id"> </div>
    </div>
  </div>
</div>

<% flash.clear%>