<%=javascript_include_tag :defaults%>
<%= stylesheet_link_tag 'main' %>
<% if @success %>
<script language="javascript">window.parent.location.reload();</script>
<% end %>
<div id="container" style="height:100%">
<div id="content" class="clearfix">
<!--      <div id="mainContent" class="clearfix">-->
      <div id="RHS_col_admin">
            <h2>Upload Prospects for <strong><%= @contact.name%></strong></h2>
            <div class="left_padd">
             <%= single_error_msg_div({:msg => flash[:error],:style => "width:230px;"}) %>
            <%= single_success_msg_div({:msg => flash[:success]}) %>
             <% form_for :file, @file, :url => upload_prospects_admin_users_path, :html => { :multipart => true ,:target => "csvUploadframe"} do |form| %>
             <%= hidden_field_tag "cid", params[:cid] %>
             
              <div id="form_div">
                   
                <ul>
                  <li>Upload File: <br />
                    <span class="wrap1">
                    <%= form.file_field :trope,:class => "inputbox",:size => "35", :style=> "width:200px"%>
                    </span>
                  </li>
                </ul>
               
                <ul>
                  <li class="top_space1"><%= image_submit_tag('upload_btn.png') %></li>
                </ul>
              </div>
             <% end %>
              <% flash.clear%>
              <br />
            </div>
            <!-- end #mainContent -->
          </div>
  <!--  </div>-->
  </div>
</div>
