<div id="container">
  <div id="content" class="clearfix">
    <div id="mainContent" class="clearfix">
      <%= render :partial => "/layouts/top_tabs_menu"%>
      <div id="RHS_col_admin">
        <h1>Setup PSN&TRADE;</h1>
        <%= single_error_msg_div({:msg => flash[:error]}) %>
        <%= single_success_msg_div({:msg => flash[:success]}) %>
        <h2>Upload a CSV file containing email addresses of existing Rainmaker users.</h2>
        <% form_for :file, @file, :url => upload_admin_psn_path, :html => { :multipart => true } do |form| %>
          <ul style="padding-top:13px">
            <li>
              <span class="wrap1" style="margin-left: 10px">
                <%= form.file_field :emails,:class => "inputbox",:size => "12"%>
              </span>
            </li>
          </ul>
          <ul style="margin-left: 10px">
            <li>
              <%= image_submit_tag('upload_btn_new.png') %>
            </li>
          </ul>
        <% end %>
        <h2>Existing Shares</h2>
        <table cellspacing="0" border="0" class="data-table box-table shopping-cart" id="shopping-cart-table">
          <thead>
            <tr class="first last">
              <th>User</th>
              <th>Sharer</th>
              <th>Share Status</th>
              <th class="last">Action</th>
            </tr>
          </thead>
          <tbody>
            <%@shares.each do |share|%>
              <tr  class="<%= cycle("first last", "first last odd", :name => "row_class") -%>">
                <td style="padding:4px"><%=share.user_email-%></td>
                <%if share.sharer_email%>
                  <td style="padding:4px"><%=share.sharer_email-%></td>
                <%else%>
                  <td style="padding:4px"><%="#{share.contact_first_name} #{share.contact_last_name}"-%></td>
                <%end%>
                <%if share.status_code == Constants::SHARE_STATUS_CODE::ACCEPTED%>
                  <% share_status = "approved" %>
                <%elsif share.status_code == Constants::SHARE_STATUS_CODE::REQUESTED%>
                  <% share_status = "requested" %>
                <%elsif share.status_code == Constants::SHARE_STATUS_CODE::PENDING%>
                  <% share_status = "pending" %>
                <%end%>
                <td style="padding:4px"><%=  share_status-%></td>
                <td style="padding:4px"><%=link_to 'Remove',remove_admin_psn_path(:hash=>share.salt_hash),:method=>:delete,:confirm=>'Are you sure?'-%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>