<footer>
  <div class="container">
    <ul class="footer_ul_ie">
      <li><%= link_to "About Us", "/home/about_us"  %><span>|</span></li>
      <li><%= link_to "News", ""  %><span>|</span></li>
      <li><%= link_to "Blog", ""  %><span>|</span></li>
      <li><%= link_to "Benefits", ""  %><span>|</span></li>
      <li><%= link_to "Partner", ""  %><span>|</span></li>
      <li><%= link_to "Developers", ""  %><span>|</span></li>
      <li><%= link_to "Mobile", ""  %><span>|</span></li>
      <li><%= link_to "Contact Us", "/home/contact_us"  %><span>|</span></li>
      <li><%= link_to "Jobs", ""  %><span>|</span></li>
      <br /><br />
      <li style="color: #98999B">DEALtraction &copy; 2012<span>|</span></li>
      <li><%= link_to "User Agreement", "/home/service_agreement"  %><span>|</span></li>
      <li><%= link_to "Privacy Policy", "/home/privacy_policy"  %><span>|</span></li>
      <li><%= link_to "Copyright Policy", ""  %><span>|</span></li>
      <li><%= link_to "Terms of Use", "/home/terms_of_use" %></li>
    </ul>
  </div>
</footer>

<!--[if lt IE 9]>
<style type="text/css">
  .footer_ul_ie {
      list-style: none;
      padding-top: 50px;
      padding-bottom: 67px;
      margin-left: 0px;
      width: 670px
  }

  .footer_ul_ie > li {
      float: left;
  }

  .footer_ul_ie > li > span {
      padding-left: 13px;
      padding-right: 13px;
  }
</style>
<![endif]-->