<!DOCTYPE html>
<html>
  <head>
    <title>FeedTracker</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Feed Generator', root_path, :class => "brand" %>

          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to("Welcome " + current_user.email, '#') %>
                </li>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
              <% end -%>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid container-root">
      <%= yield %>
    </div>

  </body>
</html>
