<!DOCTYPE html>
<html>
  <head>
    <title>FeedTracker</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <center>
    <div id="wrapper">
      <%= render :partial => '/layouts/admin_header'%>
      <div id="container">
        <div id="content" class="clearfix">
          <div id="mainContent" class="clearfix" style="background: white;">
            <%= yield %>
          </div>
        </div>  
      </div>
    </div> 
      <%= render :partial => '/layouts/footer'%>
  </center>
</body>
</html>
